<main>
  <div>
    <button (click)="reset()">{{ hasExploded() || hasWon() ? "Restart" : "Start" }}</button>
  </div>
  @if(isLoading()) {
  <div>loading...</div>
  } @else {
  <div class="board">
    @for(row of squares(); let r = $index; track r) { @for(square of row; let c
    = $index; track c) {
    <div
      class="square"
      (click)="select(square)"
      (contextmenu)="square.toggleFlag($event)"
    >
      @if(square.isVisible) {
      {{ square.value }}
      } @else if(square.isFlag) { F }
    </div>
    } }
  </div>
  }
</main>
