<main>
  <div>
    <button (click)="reset()">
      {{ hasExploded() ? "Restart" : "Start" }}
    </button>
  </div>

  @if(isLoading()) {
  <div>loading...</div>
  } @else {
  <div class="board">
    @for(square of squares; let c = $index; track c) {
    <div
      class="square"
      (click)="select(square)"
      (contextmenu)="toggleFlag(square, $event)"
    >
      <div
        class="square-bg"
        [ngStyle]="{
          'background-image': 'url(\'/images/' + square.bg + '.svg\')'
        }"
      ></div>
    </div>
    }
  </div>
  }
</main>
